db.sqlite3
__pycache__


# pycharm
*.idea

frontend/node_modules/*
npm-debug\.log

docker_wp/configs/override\.py


\.vscode/

circle_creds\.json

app/main/local_settings.py
app/static
backend/main/static

frontend/dist
nginx/www
