@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
    @apply text-gray-700 text-base;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4 {
    @apply leading-tight font-bold text-black border-b
}

.markdown h2, .markdown h1 {
    @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
}

.markdown h3 {
    @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
}

.markdown p {
     @apply mt-6;
}

.markdown img {
    @apply mt-6;
}

/* code blocks */
.hljs{margin-top:2rem;margin-bottom:2rem;display:block;overflow-x:auto;padding:0.5em;background:#333;color:white}.hljs-name,.hljs-strong{font-weight:bold}.hljs-code,.hljs-emphasis{font-style:italic}.hljs-tag{color:#62c8f3}.hljs-variable,.hljs-template-variable,.hljs-selector-id,.hljs-selector-class{color:#ade5fc}.hljs-string,.hljs-bullet{color:#a2fca2}.hljs-type,.hljs-title,.hljs-section,.hljs-attribute,.hljs-quote,.hljs-built_in,.hljs-builtin-name{color:#ffa}.hljs-number,.hljs-symbol,.hljs-bullet{color:#d36363}.hljs-keyword,.hljs-selector-tag,.hljs-literal{color:#fcc28c}.hljs-comment,.hljs-deletion,.hljs-code{color:#888}.hljs-regexp,.hljs-link{color:#c6b4f0}.hljs-meta{color:#fc9b9b}.hljs-deletion{background-color:#fc9b9b;color:#333}.hljs-addition{background-color:#a2fca2;color:#333}.hljs a{color:inherit}.hljs a:focus,.hljs a:hover{color:inherit;text-decoration:underline}

